@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500;600;700&display=swap');

html,body{
    width: 100%;
    height: 100%;
    font-size:1rem;
    color:#202124;
}

body{
   font-family: 'Noto Serif KR', serif;
   line-height: 1;
}

/* 여백초기화 */

html,body,h1,h2,h3,h4,h5,h6,ul,li,p,ol,input,button{
    margin: 0;
    padding: 0;
}

/* ul,li,ol*/
ul,ol,li{
    list-style: none;
}

/* a태그 초기화 */
a{
    text-decoration: none;
    color:inherit;
}

/* input,button 태그초기화 */
input,button{
    background-color:transparent;
    border:none;
    outline: none;
}

/* table */
table{
    border-collapse: collapse;
}
